<h1> <%= @post.title %> </h1>
<h3> <%= @post.content %> </h3>

<ul>
<% @post.categories.each do |category| %>
  <li><%= category.name %></li>
<% end %>
</ul>

<br><br>

  Comment:<br>
<%= form_for @comment do |f| %>

  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "select user" %>
  <br>
  <label>Create a new user:</label>
  <%= f.fields_for :user, @comment.build_user do |user_fields| %>
    <%= user_fields.text_field :username %>
  <% end %>
  <br> 

  <%= f.text_field :content %>

  <%= f.submit "Create Comment" %>

<% end %><br>


<h3>People who have commented on this post:</h3>
<% @users.each do |user| %>
  <%= link_to user.username, user_path(user) %>
<% end %>

<h3>Comments: </h3>
<% @post.comments.each do |comment| %>
  <%= comment.user.username%> says: <%= comment.content %>
<% end %>