<h1><%= @post.title %></h1>
<strong>Category/ies:</strong> <%= @post.categories.each do |c| %>
 <%= c.name %>
<% end %>

<p><%= @post.content %></p>

<hr>

<h3>Comments</h3>

<strong>Users who have commented on your post:</strong>
<ul>
    <%= @post.users.uniq.each do |u| %>
      <li>
        <%= link_to u.username, user_path(u) %>
      </li>
    <% end %>
</ul>

<%= @post.comments.each do |comment| %>
  <p>
    <%= comment.user.username %> says:<br>
    <%= comment.content %>
  </p>
<% end %>

<h3>Leave a Comment</h3>
<%= form_for @post.comments.build do |c| %>
  <%= c.hidden_field :post_id %>
  
  <p>
    <%= c.collection_select :user_id, User.all, :id, :username, include_blank: 'Select your username' %><br>
  <p>

  <p>
    <%= c.fields_for :user, @post.comments.last.build_user do |u| %>
      <%= u.label "New Username" %><br>
      <%= u.text_field :username %>
    <% end %>
  </p>

  <p>
    <%= c.label :content %><br>
    <%= c.text_area :content %>
  </p>

  <p>
    <%= c.submit "Create Comment" %>
  </p>
<% end %>